header {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 11vh;

    


    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 9.5%;
    }

    .header-content {
        width: 25%;
        height: 10%;
        margin-left: 9.5vw;
        margin-top:18vh;

        h1{
            margin-bottom: 1.5rem;
        }
        p{
            margin-bottom: 1.5rem;
        }
    }
}


.header-img-womman {
    display: block;
    position: absolute;
    z-index: 10;
    width: 55vw;
    top: -15vh;
    right: -18vw;
}
.div-header-img-womman-mobile{
  display: none;
}

@media(max-width: 370px){
  header{
    height: 750px;
    nav{
      img{
        width: 28%;
      }  
    
  }

  .header-content {
    width: 80%;
    height: 35vh;
    margin-left: 9.5vw;
    margin-top:4vh;
    margin-bottom: 10vh;

    h1{
      margin-bottom: 1rem;
      
  }
  p{
      margin-bottom: 1rem;
      
  }

}

  }

  .header-img-womman {  
    display: none;
}
.div-header-img-womman-mobile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -3rem;
}

.header-img-womman-mobile {  
   width: 90%;
   display: block;
}

}

@media (min-width: 370px) and (max-width: 450.98px){

  header{
    height: 750px;
    nav{
      img{
        width: 28%;
      }  
    
  }

  .header-content {
    width: 80%;
    height: 35vh;
    margin-left: 9.5vw;
    margin-top:4vh;
    margin-bottom: 10vh;

    h1{
      margin-bottom: 1rem;
      
  }
  p{
      margin-bottom: 1rem;
      
  }

}

  }

  .header-img-womman {  
    display: none;
}
.div-header-img-womman-mobile{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4rem;
}

.header-img-womman-mobile {  
   width: 90%;
   display: block;
}


}

/* Estilo para dispositivos móveis pequenos */
@media (min-width: 450px) and (max-width: 575.98px) {
    /* Estilos aqui */

    header{
      height: 42rem;
      nav{
        img{
          width: 28%;
        }  
      
    }

    .header-content {
      width: 80%;
      height: 35vh;
      margin-left: 9.5vw;
      margin-top:4vh;
      margin-bottom: 10vh;

      h1{
        margin-bottom: 1rem;
        
    }
    p{
        margin-bottom: 1rem;
        
    }

  }

    }

    .header-img-womman {  
      display: none;
  }
  .div-header-img-womman-mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8rem;
  }

  .header-img-womman-mobile {  
     width: 90%;
     display: block;
  }

  }
  
  /* Estilo para dispositivos móveis médios */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Estilos aqui */
    header{
      height: 48rem;
      nav{
        img{
          width: 15%;
        }  
      
    }

    .header-content {
      width: 80%;
      height: 28vh;
      margin-left: 9.5vw;
      margin-top:7vh;
      margin-bottom: 5vh;

  }

    }

    .header-img-womman {  
      display: none;
  }
  .div-header-img-womman-mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6rem;
  }

  .header-img-womman-mobile {  
     width: 90%;
     
  }

  }
  
  /* Estilo para tablets */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Estilos aqui */
    header{

      height: 500px;

      nav{
        img{
          width: 15%;
        }  
      
    }

    .header-content {
      width: 30%;
      margin-left: 9.5vw;
      margin-top:5vh;

  }

    }

    .header-img-womman {  
      width: 58%;
      top: -3vh;
      right: -18vw;
  }

  .header-img-womman-mobile{

  
  }

}
  
  /* Estilo para laptops pequenos */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Estilos aqui */
    header{
      height: 570px;
      nav{
        img{
          width: 10%;
        }  
      
    }

    .header-content {
      width: 32%;
      margin-left: 9.5vw;
      margin-top:13vh;

  }

    }

    .header-img-womman {  
      width: 60%;
      top: -8vh;
      right: -18vw;
  }
  }
  
  /* Estilo para desktops e laptops maiores (não precisa)*/
  @media (min-width: 1200px) and (max-width: 1300px) {
   header{

    height: 580px;
    .header-content{
      width: 30%;
      margin-top: 13vh;
    }
   }

   .header-img-womman{
    width: 58%;
    top: -10vh;
   }
  }

  @media (min-width: 1300px){
    header{

      height: 40rem;
      .header-content{
        width: 30%;
      }

    }
    
    .header-img-womman {  
      width: 58%;
      top: -10vh;
  }


  }