// azul cinzento
$blue-gray: #666CA3;

// azul marinho intenso
$intense-navy-blue: #13183F;


// cinza
$gray: #83869A;

// rosa vibrante tonalidade magenta
$vibrant-pink-magenta-hue: #F74780;

//rosa claro
$light-pink: #FFA7C3;

// branco
$white: #FFFFFF;

// gradiente de rosa profundo para laranja intenso
$pink-orange-gradient: linear-gradient(to top,#F02AA6, #FF6F48 );


// grandiente azul rosa
$blue-pink-gradient: linear-gradient(to top, #4851FF,#F02AA6 )



