@import "./colors.scss";
@import "./typograph.scss";


// sections
@import "./section/header.scss";
@import "./section/courses.scss";
@import "./section/footer.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-common{
    color: $white;
    padding: 0.7rem 1.2rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    border: none;
}

@mixin btn($background-color){
    background-color: $background-color;
    @extend .btn-common;
    
}

@mixin btn2($background-image){
    background-image: $background-image;
    @extend .btn-common;
    
}


.btn-get-started1{
    
    @include btn($intense-navy-blue);
    &:hover{
        background-color: $blue-gray;
    }
    
}
.btn-get-started2{
    @include btn2($pink-orange-gradient);
    &:hover{
        opacity: 0.6
    }
   
}

.btn-get-started3{
    @include btn2($blue-pink-gradient);
    &:hover{
        opacity: 0.6;
    }
}

.get-started-a:hover{
    opacity: 0.6;
}